<!DOCTYPE html>
<html>
<head><title th:text="#{collect_title}"></title>
    <meta property="og:image" content="https://g.fp.ps.netease.com/market/file/6391b1f3672a526e9f383c56lhtp2qta04">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="shortcut icon" href="//g.fp.ps.netease.com/market/file/59b156975e6027bce06e8f6ceTyFGdsj">
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="./js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="./js/lib.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
</head>
<body class=" csgo  ">
<div class="header l_Clearfix">
    <div class="header-cont l_Layout">
        <div class="logo"><a href="/home"><img src="./images/logo.png" width="77" height="21"></a>
        </div>
        <div class="nav">
            <ul>
                <li class="on"><a href="/home"><strong th:text="#{nav_text1}"></strong></a></li>
            </ul>
        </div>
        <div class="nav nav_entries">
            <div class="login-user j_drop-handler"><a href=""> <img
                    width="32" height="32" class="has-store store-online"
                    src="https://g.fp.ps.netease.com/market/file/629985b63521f683551165fcLjskqS9c04?fop=imageView/2/w/54/h/54"
                    onerror="this.src='https://g.fp.ps.netease.com/market/file/5c4994af8b7427196aca7aeblbTq8TJS02';this.onerror=null">
                <i class="icon icon-store store-online"></i> <strong class=""
                                                                     id="navbar-user-name"
                                                                     th:text="${user.getName()}"></strong> </a>
                <div class="drop-store j_drop">
                    <div class="store-user"><img
                            src="https://g.fp.ps.netease.com/market/file/629985b63521f683551165fcLjskqS9c04?fop=imageView/2/w/54/h/54"
                            onerror="this.src='https://g.fp.ps.netease.com/market/file/5c4994af8b7427196aca7aeblbTq8TJS02?fop=imageView/2/w/54/h/54';this.onerror=null">
                        <div class=""><h3 th:text="${user.getName()}"></h3></div>
                        <p><a href="/logout" class="f_12px" th:text="#{logout}"></a></p></div>
                </div>
            </div>
            <div class="login-user message"><span><a href="/show_message"><i
                    class="icon icon_message"></i></a></span> <i class="icon icon_new" style="display: none;"></i></div>
            <div class="game-select" style="margin-right: -10px; margin-left: -2px;">
                <div class="header-switcher j_drop-handler global-games" id="j_game-switcher" data-current="csgo"><h3>
                    <strong><img src="./images/logo_csgo2.png" class="sel-ico"
                                 data-game="csgo">CS2<span class="tag_status"
                                                             style="display: none;"></span></strong><i
                        class="icon icon_arr_light"></i></h3>
                    <div class="j_drop"><p data-value="csgo" class="on" ><img
                            src="./images/logo_csgo2.png" class="sel-ico" data-game="csgo">CS2<span
                            class="tag_status" style="display: none;"></span></p>
                    </div>
                </div>
            </div>

            <ul>
                <li class="" id="j_mybuying"><a href="/show_bookmark"><strong th:text="#{mybuying}"></strong></a>
                    <i class="icon icon_new" style="display: none;"></i></li>
            </ul>
        </div>
    </div>
</div>
<div id="loading-cover">
    <div class="spinner loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div class="blank20"></div>

<div class="l_Layout">
    <div class="cont_panel black">
        <div class="my-thum" style="background-color: #132a50"><img
                src="https://g.fp.ps.netease.com/market/file/629985b63521f683551165fcLjskqS9c04?fop=imageView/2/w/70/h/70"
                width="70" height="70"
                onerror="this.src='https://g.fp.ps.netease.com/market/file/5c4994af8b7427196aca7aeblbTq8TJS02';this.onerror=null">
            <h2><strong th:text="${user.getName()}"></strong></h2>
            <div class="clear"></div>
        </div>
        <div class="my-menu">
            <ul>
                <li><a style="background-color: #132a50" href="/show_message"><i
                        class="icon icon_menu icon_menu_msg"></i>消息中心<i
                        class="icon icon_new"></i></a></li>
                <li class="on"><a style="background-color: #132a50" href="/show_bookmark"><i
                        class="icon icon_menu icon_menu_fav"></i>我的收藏</a></li>
                <li class="on"><a style="background-color: #132a50" href="/show_inventory"><i
                        class="icon icon_menu icon_menu_gift"></i>我的仓库</a></li>
            </ul>
        </div>
    </div>
    <div class="cont_main">
    <div class="g-w940">
        <div style="background-color: #132a50" class="g-market-header wiki-select black">
            <div class="cont-tab">
                <ul>
                    <li class="on"><a href="/show_bookmark">饰品收藏<i
                            class="icon icon_top_cur"></i></a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="criteria">
                <div class="l_Right">
                    <div class="w-Search" id="j_search"><span> <input class="i_Text" id="search-search"
                                                                      name="search" placeholder="输入物品名称"
                                                                      size="30" type="text"> </span> <a
                            id="search_btn_csgo"
                            href="javascript:;"><i class="icon icon_search"></i>搜索</a></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
        <div class="blank20"></div>

        <div class="blank20"></div>
        <div class="user-record change">
            <table class="list_tb" width="100%" >
                <tr>
                    <th width="120" th:text="#{Jewelry}"></th>
                    <th width="350"></th>
                    <th width="240" class="t_Left tb-Order " id="order-by-price" th:text="#{The_lowest_currently_on_sale}"> 当前在售最低 <i
                            class="icon icon_order"></i></th>
                    <th width="240" class="t_Left" th:text="#{Historical_Lowest_Price}"></th>
                    <th width="240" class="t_Left">修改预期价格&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;取消收藏</th>
                </tr>
                <tr th:each="good, iterStat: ${goods}">
                    <td>
                        <div class="pic-cont"><a th:href="'/goods?goods_id=928421'+${good.getGoods_id()}"> <img
                                th:src="${good.getImg_url()}" th:alt="${good.getName()}"
                                width="72" height="48"> </a></div>
                    </td>
                    <td class="t_Left name-cont"><h3><a th:href="'/goods?goods_id='+${good.getGoods_id()}"
                                                        th:text="${good.getName()}"></a>
                    </h3></td>
                    <td class="t_Left"><strong class="f_Strong" th:text="'￥'+${good.getNow_price()}"></strong>
                        <!--                        <p class="hide-cny c_Gray f_12px">(<span class="custom-currency" data-price="7.89"-->
                        <!--                                                                 data-type="small" data-original-currency="CNY"></span>)-->
                        <!--                        </p>-->
                    </td>
                    <td class="t_Left"><strong class="f_Strong" style="color:#45536C"
                                               th:text="'￥'+${good.getThe_lowest_price()}"></strong>
                        <!--                        <p class="hide-cny c_Gray f_12px">(<span class="custom-currency" data-price="6"-->
                        <!--                                                                 data-type="small" data-original-currency="CNY"></span>)-->
                        <!--                        </p>-->
                    </td>
                    <td class="t_Left"><a th:id="${good.getGoods_id()}" href="" class="i_Btn i_Btn_mid"
                                          th:text="'￥'+${collects.get(iterStat.index).getExpected_price()}"></a><span
                            th:id="${good.getGoods_id()}" class="user-fav on delete-bookmark"><span th:text="#{Favorite}"></span><i
                            class="icon icon_fav"></i></span></td>
                </tr>

            </table>
            <div class="pager list-pager"></div>
            <div class="pager list-pager light-theme simple-pagination">
                <ul>
                    <li th:if="${page==1}" th:class="disabled"><span class="current prev" th:text="#{previous_page}"></span></li>
                    <li th:if="${page!=1}"><a
                            th:href="'?page='+${page+(-1)}+${search==null?'':'&search='+search}"
                            class="page-link prev" th:text="#{previous_page}"></a></li>
                    <li th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber==page?'active':''}">
                        <a th:if="${pageNumber != page}"
                           th:href="'?page='+${pageNumber}+${search==null?'':'&search='+search}"
                           class="page-link"
                           th:text="${pageNumber}"></a>
                        <span th:if="${pageNumber == page}" class="current" th:text="${pageNumber}"></span>
                    </li>
                    <li><a th:class="${page==totalPages?'disabled':'page-link next'}"
                           th:href="'?page='+${page+1}+${search==null?'':'&search='+search}" th:text="#{next_page}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>

<div class="clear"></div>

<div class="blank20"></div>

</body>
<script type="text/javascript" th:inline="javascript">
    $(() => {
        $('#search_btn_csgo').click(function () {
            let search = $('input[name="search"]').val()
            if (search === '') {
                alert('请输入搜索内容')
                return
            }
            window.location.href = '/show_bookmark?search=' + search
        })
        $('.i_Btn_mid').click(function () {
            let expected_price = prompt('请输入预期价格', '5.00')
            let goods_id = $(this).attr('id')
            $.post('/change_expected_price', {goods_id: goods_id, expected_price: expected_price}, function (data) {
                // console.log(data)
                window.location.reload()
            })
        })
        $('.delete-bookmark').click(function () {
            let goods_id = $(this).attr('id')
            let user_id = [[${user?.getId()}]]
            $.post('/delete_bookmark', {goods_id: goods_id, user_id: user_id, where: 'show_bookmark'}, function (data) {
                window.location.reload()
            })
        })

    })
</script>
</html>