<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="//g.fp.ps.netease.com/market/file/59b156975e6027bce06e8f6ceTyFGdsj">
    <title th:text="#{good_page_title}">商品详情</title>
    <link rel="stylesheet" href="./css/main.css">
    <!--    <script type="text/javascript" src="./js/lib.js"></script>-->
    <!--    <script type="text/javascript" src="./js/main.js"></script>-->
    <script type="text/javascript" src="./js/echarts.js"></script>
    <script type="text/javascript" src="./js/jquery-3.6.0.js"></script>


</head>
<body class=" csgo  ">
<div class="header l_Clearfix">
    <div class="header-cont l_Layout">
        <div class="logo"><a href="/home"><img src="./images/logo.png" width="77" height="21"></a>
        </div>
        <div class="nav">
            <ul>
                <li class="on"><a href="/home"><strong th:text="#{nav_text1}">饰品市场</strong></a></li>

            </ul>
        </div>
        <div th:if="${user!=null}" class="nav nav_entries">
            <div class="login-user j_drop-handler"><a href=""> <img
                    width="32" height="32" class="has-store store-online" src="https://g.fp.ps.netease.com/market/file/629985b63521f683551165fcLjskqS9c04?fop=imageView/2/w/54/h/54"
                    onerror="this.src='https://g.fp.ps.netease.com/market/file/5c4994af8b7427196aca7aeblbTq8TJS02';this.onerror=null">
                <i class="icon icon-store store-online"></i> <strong class=""
                                                                     id="navbar-user-name" th:text="${user.getUsername()}"></strong> </a>
                <div class="drop-store j_drop">
                    <div class="store-user"><img
                            src="https://g.fp.ps.netease.com/market/file/629985b63521f683551165fcLjskqS9c04?fop=imageView/2/w/54/h/54"
                            onerror="this.src='https://g.fp.ps.netease.com/market/file/5c4994af8b7427196aca7aeblbTq8TJS02?fop=imageView/2/w/54/h/54';this.onerror=null">
                        <div class=""><h3 th:text="${user.getUsername()}"></h3></div>
                        <p><a href="/logout" class="f_12px" th:text="#{logout}">退出登录</a></p></div>
                </div>
            </div>
            <div class="login-user message"><span><a href="/show_message"><i
                    class="icon icon_message"></i></a></span> <i class="icon icon_new" style="display: none;"></i></div>
            <div class="game-select" style="margin-right: -10px; margin-left: -2px;">
                <div class="header-switcher j_drop-handler global-games" id="j_game-switcher" data-current="csgo"><h3>
                    <strong th:text="#{CS.GO}"><img src="./images/logo_csgo_black.png" class="sel-ico"
                                 data-game="csgo">CS:GO<span class="tag_status"
                                                             style="display: none;"></span></strong><i
                        class="icon icon_arr_light"></i></h3>
                    <div class="j_drop"><p data-value="csgo" class="on" th:text="#{CS.GO}"><img
                            src="./images/logo_csgo_black.png" class="sel-ico" data-game="csgo">CS:GO<span
                            class="tag_status" style="display: none;"></span></p>
                    </div>
                </div>
            </div>

            <ul>
                <li class="" id="j_mybuying"><a href="/show_bookmark"><strong th:text="#{mybuying}">我的收藏</strong></a>
                    <i class="icon icon_new" style="display: none;"></i></li>
            </ul>
        </div>
        <div th:if="${user==null}" class="nav nav_entries">
            <div class="header-switcher j_drop-handler" data-current="zh-Hans" id="j_lang-switcher"
                 style="display: none;"><h3><i class="icon icon_lang_zh-Hans"></i><i class="icon icon_arr_light"></i>
            </h3>
            </div>
            <ul>
                <li><a href="javascript:void(0)" id="login" th:text="#{login_or_register}">登录/注册</a></li>
            </ul>
            <div class="game-select" style="margin-right: -10px; margin-left: -2px;">
                <div class="header-switcher j_drop-handler global-games" id="j_game-switcher" data-current="csgo"><h3>
                    <strong th:text="#{CS.GO}"><img src="./images/logo_csgo_black.png" class="sel-ico"
                                 data-game="csgo">CS:GO<span class="tag_status"
                                                             style="display: none;"></span></strong><i
                        class="icon icon_arr_light"></i></h3>
                    <div class="j_drop"><p data-value="csgo" class="on" th:text="#{CS.GO}"><img
                            src="./images/logo_csgo_black.png" class="sel-ico" data-game="csgo">CS:GO<span
                            class="tag_status" style="display: none;"></span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="blank20"></div>
<div class="popup popup_login" id="j_popup_login"
     style="height:250px;width: 372px; margin-top: -240.5px; margin-left: -186px; z-index: 503;">
    <a class="popup-close" href="javascript:;" id="close_entry">×</a>
    <div class="login-cont">
        <div class="login-frame" style="visibility: visible;"><h2 id="j_login-title" th:text="#{login_from_title}">帐号登录/注册</h2>
            <div id="j_login" style="width: 370px; height: 250px;">
                <iframe frameborder="0" scrolling="no" name="login_frame" id="login_frame"
                        style="width: 100%; height: 100%; border: none; background: none;"
                        src="show_login"></iframe>
            </div>

        </div>
    </div>
</div>
<div class="market-list">
    <div class="l_Layout">
        <div class="block-header">
            <div class="l_Right">
                <div class="w-Checkbox" name="preview_screenshots" value="" id="preview_screenshots"
                     style="display:none"></div>


            </div>
            <div class="detail-header">
                <div class="detail-pic" style="background: #313b4d url('./images/goods_detail_bg.png');">
                    <div style="width:269px" class="t_Center"><img
                            th:src="${good.getImg_url()}"
                            style="max-width:269px;max-height:176px;"></div>
                    <div class="detail-pic-cover"></div>
                    </div>
                <div class="detail-cont">
                    <div>
                        <div class="l_Right detail-fav">
                            <div>
                                <div th:if="${bookmark_status=='0'}"  class="add-bookmark"><span th:text="#{collect}">收藏</span><i
                                        class="icon icon_fav"></i></div>
                                <div th:if="${bookmark_status=='1'}"  class="on delete-bookmark"><span th:text="#{Favorite}">已收藏</span><i class="icon icon_fav"></i></div>
                            </div>
                        </div>
                        <h1 th:text="${good.getName()}"></h1></div>
                    <p><span><label th:text="#{Recent_fluctuations}"> 近期涨跌幅度|</label><span th:text="${good.getTrend()}"></span></span>
                        <span><label th:text="#{Historical_Lowest_Price}"> 历史最低价格|</label><span th:text="${good.getThe_lowest_price()}"></span></span>
                        <span><label th:text="#{types_of}">类型 |</label><span th:text="${good.getCategory()}"></span></span>
                    </p>
                    <div class="blank20"></div>
                    <div class="line"></div>
                    <div class="blank20"></div>
                    <div class="detail-summ">
                        <span> <label th:text="#{reference_price}">参考价格 |</label> <strong class="f_Strong"
                                                                 th:text="'￥'+${good?.getNow_price()}"></strong> </span>
                        <a th:text="#{buy}"
                                th:href="${'https://buff.163.com/goods/'+good.getGoods_id()}"
                                target="_blank">去Buff市场购买<i class="icon icon_arr_right_small"></i></a></div>
                </div>
            </div>
            <ul class="tab">
                <li id="trend" th:text="#{price_trend}">价格走势</li>
                <li id="bugged-ethereal" style="display:none;" th:text="#{tab_title4}">BUG虚灵</li>
                <li id="bundle" style="display:none;" th:text="#{tab_title5}">打包交易</li>
            </ul>

            <div class="clear"></div>
        </div>
        <hr>
        <div class="detail-tab-cont">
            <div class="w-Switcher w-Switcher_tab" id="history-type" style="display:inline-block;margin-left:100px;">

                <span value="buff" class="on" th:text="#{BUFF_price_trend}">BUFF价格走势 (人民币)<i class="icon icon_top_cur"></i></span>


            </div>

            <div id="price-history-type" class="w-Select" name="buff_price_type"
                 style="width: 100px; visibility: visible;">


                <h3 id="price-history-type-all" th:text="#{price-history-type-all}">所有数据</h3>
                <i class="icon icon_drop"></i>
                <ul id="price-type" style="width: 100px;">

                    <li value="1" class="on" style="width: 82px;" th:text="#{price-history-type-all}">所有数据</li>

                    <li value="2"  style="width: 82px;" th:text="#{Lowest_on_sale}">在售最低</li>

                </ul>
            </div>

            <div id="price-history-days" class="w-Select" name="days" init="inited"
                 style="width: 100px; visibility: visible;">


                <h3 id="days" th:text="#{Last_7_days}">最近7天</h3>
                <i class="icon icon_drop"></i>
                <ul id="price-days" style="width: 100px;">

                    <li value="7" data-disabled="false" class="on" style="width: 82px;" th:text="#{Last_7_days}">最近7天</li>

                    <li value="30" data-disabled="false" style="width: 82px;" th:text="#{Last_month}">最近1个月</li>

                    <li value="180" data-disabled="false" style="width: 82px;" th:text="#{Last_6_months}">最近6个月</li>
                    <li value="365" data-disabled="false" style="width: 82px;" th:text="#{Last_year}">最近1年</li>
                    <li value="730" data-disabled="false" style="width: 82px;" th:text="#{Last_2_year}">最近2年</li>

                </ul>
            </div>
            <div id="tag-price-chart">
                <div class="map_price" style="padding: 20px 100px;">
                    <div class="chartjs-size-monitor"
                         style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="myChart" style="margin-top: -10px; display: block; height: 500px; width: 1000px;"
                         class="chartjs-render-monitor"></div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script type="text/javascript" th:inline="javascript">
    function user_login(name, password) {
        console.log(name)
        $.ajax({
            url: '/login',
            type: 'post',
            data: {
                name: name,
                password: password
            },
            success: function (data) {
                window.location.reload()
            }
        })
    }
    $(()=>{
        $('#j_popup_login').hide()
        if ([[${user_status}]] === '密码错误') {
            $('#j_popup_login').show()
            alert("密码错误请重新登录！！！")
        } else if ([[${user_status}]] === '用户不存在') {
            $('#j_popup_login').show()
            alert("用户不存在请重新登录！！！")
        }


        $('#login').click(function () {
            $('#j_popup_login').show()
        })
        $('#close_entry').click(function () {
            $('#j_popup_login').hide()
        })
        if ([[${add_bookmark_status}]]==='1'){
            alert("收藏成功")
        }else if ([[${add_bookmark_status}]]==='0'){
            alert("收藏失败")
        }
        let myChart;
        myChart = echarts.init(document.getElementById('myChart'));
        let json = [[${all_records_last7Days}]];
        let data = []
        for (let i = 0; i < json.length; i++) {
            data.push({name: json[i]['time'], value: [json[i]['time'], json[i]["price"]]})
        }
        option = {
            tooltip: {
                show: true,
                trigger: 'axis',


            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                },
            },
            yAxis: {

                boundaryGap: [0, '100%'],
                type: 'value',
                axisLabel: {
                    formatter: '￥{value}'
                },
                splitLine: {
                    show: false
                },

            },
            series: [
                {
                    name: document.getElementById('price-history-type-all').innerText==='所有数据'?'价格:':'当天在售最低:',
                    type: 'line',
                    showSymbol: false,
                    data: data
                }
            ]
        };
        myChart.setOption(option);

        $('#price-history-type-all').click(function () {
            $('#price-type').slideDown()
        })

        $('#price-type li').click(function () {
            $('#price-type').slideUp()
            let show_type = $(this).text()
            let day_type= $('#days').text()
            $('#price-history-type-all').text($(this).text())
            $(this).addClass("on")
            $(this).siblings().removeClass("on")
            $('#price-history-type-all').attr('value', $(this).attr('value'))
            if (day_type==='最近1个月'&&show_type==='在售最低') {
                json = [[${lowest_records_lastMonth}]];
            } else if (day_type==='最近1个月'&&show_type==='所有数据') {
                json = [[${all_records_lastMonth}]];
            }else if (day_type==='最近7天'&&show_type==='在售最低') {
                json = [[${lowest_records_last7Days}]];
            }else if (day_type==='最近7天'&&show_type==='所有数据') {
                json = [[${all_records_last7Days}]];
            }else if (day_type==='最近6个月'&&show_type==='在售最低') {
                json = [[${lowest_records_last6Months}]];
            }else if (day_type==='最近6个月'&&show_type==='所有数据') {
                json = [[${all_records_last6Months}]];
            }else if (day_type==='最近1年'&&show_type==='在售最低') {
                json = [[${lowest_records_lastYear}]];
            }else if (day_type==='最近1年'&&show_type==='所有数据') {
                json = [[${all_records_lastYear}]];
            }else if (day_type==='最近2年'&&show_type==='在售最低') {
                json = [[${lowest_records_last2Years}]];
            }else if (day_type==='最近2年'&&show_type==='所有数据') {
                json = [[${all_records_last2Years}]];
            }

            let data = []
            for (let i = 0; i < json.length; i++) {
                data.push({name: json[i]['time'], value: [json[i]['time'], json[i]["price"]]})
            }
            var option = {

                tooltip: {
                    show: true,
                    trigger: 'axis',


                },
                xAxis: {
                    type: 'time',
                    splitLine: {
                        show: false
                    },
                },
                yAxis: {

                    boundaryGap: [0, '100%'],
                    type: 'value',
                    axisLabel: {
                        formatter: '￥{value}'
                    },
                    splitLine: {
                        show: false
                    },

                },
                series: [
                    {
                        name: document.getElementById('price-history-type-all').innerText==='所有数据'?'价格:':'当天在售最低:',
                        type: 'line',
                        showSymbol: false,
                        data: data
                    }
                ]
            };
            myChart.setOption(option);

        })
        $('#days').click(function () {
            $('#price-days').slideDown()
        })
        $('#price-days li').click(function () {
            $('#price-days').slideUp()
            let day_type = $(this).text()
            let show_type= $('#price-history-type-all').text()
            $('#days').text($(this).text())
            $(this).addClass("on")
            $(this).siblings().removeClass("on")
            $('#days').attr('value', $(this).attr('value'))
            if (day_type==='最近1个月'&&show_type==='在售最低') {
                json = [[${lowest_records_lastMonth}]];
            } else if (day_type==='最近1个月'&&show_type==='所有数据') {
                json = [[${all_records_lastMonth}]];
            }else if (day_type==='最近7天'&&show_type==='在售最低') {
                json = [[${lowest_records_last7Days}]];
            }else if (day_type==='最近7天'&&show_type==='所有数据') {
                json = [[${all_records_last7Days}]];
            }else if (day_type==='最近6个月'&&show_type==='在售最低') {
                json = [[${lowest_records_last6Months}]];
            }else if (day_type==='最近6个月'&&show_type==='所有数据') {
                json = [[${all_records_last6Months}]];
            }else if (day_type==='最近1年'&&show_type==='在售最低') {
                json = [[${lowest_records_lastYear}]];
            }else if (day_type==='最近1年'&&show_type==='所有数据') {
                json = [[${all_records_lastYear}]];
            }else if (day_type==='最近2年'&&show_type==='在售最低') {
                json = [[${lowest_records_last2Years}]];
            }else if (day_type==='最近2年'&&show_type==='所有数据') {
                json = [[${all_records_last2Years}]];
            }
            let data = []
            for (let i = 0; i < json.length; i++) {
                data.push({name: json[i]['time'], value: [json[i]['time'], json[i]["price"]]})
            }
            var option = {

                tooltip: {
                    show: true,
                    trigger: 'axis',


                },
                xAxis: {
                    type: 'time',
                    splitLine: {
                        show: false
                    },
                },
                yAxis: {

                    boundaryGap: [0, '100%'],
                    type: 'value',
                    axisLabel: {
                        formatter: '￥{value}'
                    },
                    splitLine: {
                        show: false
                    },

                },
                series: [
                    {
                        name: document.getElementById('price-history-type-all').innerText==='所有数据'?'价格:':'当天在售最低:',
                        type: 'line',
                        showSymbol: false,
                        data: data
                    }
                ]
            };
            myChart.setOption(option);

        })
        $('.add-bookmark').click(function () {
            let goods_id=[[${goods_id}]]
            let user_id = [[${user?.getId()}]]
            $.post('/add_bookmark', {goods_id: goods_id,user_id:user_id}, function (data) {
                window.location.reload()
            })
        })
        $('.delete-bookmark').click(function () {
            let goods_id=[[${goods_id}]]
            let user_id = [[${user?.getId()}]]
            $.post('/delete_bookmark', {goods_id: goods_id,user_id:user_id}, function (data) {
                window.location.reload()
            })
        })
    })



</script>
</body>
</html>