<!DOCTYPE html>
<html lang="zh"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="//g.fp.ps.netease.com/market/file/59b156975e6027bce06e8f6ceTyFGdsj">
    <title>商品详情</title>
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="./js/lib.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
    <script type="text/javascript" src="./js/echarts.js"></script>

</head>
<body class=" csgo  ">
<div class="header l_Clearfix">
    <div class="header-cont l_Layout">
        <div class="logo"><a href="/?game=csgo"><img src="./images/logo.png" width="77" height="21"></a>
        </div>
        <div class="nav">
            <ul>
                <li class="on"><a href="/home"><strong>饰品市场</strong></a></li>

            </ul>
        </div>
        <div class="nav nav_entries">
            <ul>
                <li><a href="javascript:void(0)" onclick="loginModule.showLogin()">登录/注册</a></li>
            </ul>
            <div class="game-select" style="margin-right: -10px; margin-left: -2px;">
                <div class="header-switcher j_drop-handler global-games" id="j_game-switcher" data-current="csgo"><h3>
                    <strong><img src="./images/logo_csgo_black.png" class="sel-ico"
                                 data-game="csgo">CS:GO<span class="tag_status"
                                                             style="display: none;"></span></strong><i
                        class="icon icon_arr_light"></i></h3>
                    <div class="j_drop"><p data-value="csgo" class="on"><img
                            src="./images/logo_csgo_black.png" class="sel-ico" data-game="csgo">CS:GO<span
                            class="tag_status" style="display: none;"></span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="blank20"></div>
<div class="market-list">
    <div class="l_Layout">
        <div class="block-header">
            <div class="l_Right">
                <div class="w-Checkbox" name="preview_screenshots" value="" id="preview_screenshots"
                     style="display:none"></div>


            </div>
            <div class="detail-header">
                <div class="detail-pic" style="background: #313b4d url('./images/goods_detail_bg.png');">
                    <div style="width:269px" class="t_Center"><img
                            th:src="${good.getImg_url()}"
                            style="max-width:269px;max-height:176px;"></div>
                    <div class="detail-pic-cover"></div>
                    <i class="icon2x icon_weaponbox" onclick="weapon_case.show()"></i></div>
                <div class="detail-cont">
                    <div>
                        <div class="l_Right detail-fav"><span id="weapon_case_entry" onclick="weapon_case.show()"><i
                                class="icon2x icon_weaponbox"></i></span>
                            <div>
                                <div data-target-type="2" data-target-id="927346" class="add-bookmark"><span>收藏</span><i
                                        class="icon icon_fav"></i></div>
                                <div data-target-type="2" data-target-id="927346" class="on delete-bookmark"
                                     style="display:none;"><span>已收藏</span><i class="icon icon_fav"></i></div>
                            </div>
                        </div>
                        <h1 th:text="${good.getName()}"></h1></div>
                    <p><span><label> 近期涨跌幅度|</label><span th:text="${good.getTrend()}"></span></span>
                        <span><label> 历史最低价格|</label><span th:text="${good.getThe_lowest_price()}"></span></span>
                        <span><label>类型 |</label><span th:text="${good.getCategory()}"></span></span>
                    </p>
                    <div class="blank20"></div>
                    <div class="line"></div>
                    <div class="blank20"></div>
                    <div class="detail-summ">
                        <span> <label>参考价格 |</label> <strong class="f_Strong"
                                                                 th:text="'￥'+${good?.getNow_price()}"></strong> </span>
                        <a
                                th:href="${'https://buff.163.com/goods/'+good.getGoods_id()}"
                                target="_blank">去Buff市场购买<i class="icon icon_arr_right_small"></i></a></div>
                </div>
            </div>
            <ul class="tab">
                <li id="trend">价格走势</li>
                <li id="bugged-ethereal" style="display:none;">BUG虚灵</li>
                <li id="bundle" style="display:none;">打包交易</li>
            </ul>

            <div class="clear"></div>
        </div>
        <hr>
        <div class="detail-tab-cont">
            <div class="w-Switcher w-Switcher_tab" id="history-type" style="display:inline-block;margin-left:100px;">

                <span value="buff" class="on">BUFF价格走势 (人民币)<i class="icon icon_top_cur"></i></span>


            </div>

            <div id="price-history-type" class="w-Select" name="buff_price_type" init="inited"
                 style="width: 100px; visibility: visible;">
                <h3>在售最低</h3>
            </div>

            <div id="price-history-days" class="w-Select" name="days" init="inited"
                 style="width: 100px; visibility: visible;">


                <h3>最近7天</h3>
                <i class="icon icon_drop"></i>
                <ul style="width: 100px;">

                    <li value="7" data-disabled="false" class="on" style="width: 82px;">最近7天</li>

                    <li value="30" data-disabled="false" style="width: 82px;">最近1个月</li>

                    <li value="180" data-disabled="false"  style="width: 82px;">最近6个月</li>

                </ul>
            </div>
            <div id="tag-price-chart">
                <div class="map_price" style="padding: 20px 100px;">
                    <div class="chartjs-size-monitor"
                         style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <canvas id="myChart" style="margin-top: -10px; display: block; height: 500px; width: 1000px;"
                            width="1250" height="625" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script type="text/javascript">
    let myChart = echarts.init(document.getElementById('myChart'));

    let json=JSON.stringify([[${json}]]);

    let data=[]
    option = {

        tooltip: {
            trigger: 'axis',
            axisPointer: {
                animation: false
            }
        },
        xAxis: {
            type: 'time',
            splitLine: {
                show: false
            }
        },
        yAxis: {

            // boundaryGap: [0, '100%'],
            type: 'value',
            axisLabel: {
                formatter: '￥{value}'
            },
            splitLine: {
                show: false
            }
        },
        series: [
            {
                name: '当天最低出售价格',
                type: 'line',
                showSymbol: false,
                data: data
            }
        ]
    };
    myChart.setOption(option);
</script>
</body>
</html>