<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="shortcut icon" href="//g.fp.ps.netease.com/market/file/59b156975e6027bce06e8f6ceTyFGdsj">
    <title th:text="#{index_title}"></title>
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="./js/lib.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
    <script type="text/javascript" src="./js/jquery-3.6.0.js"></script>
</head>
<body class=" csgo  ">
<div class="header l_Clearfix">
    <div class="header-cont l_Layout">
        <div class="logo"><a href="/home"><img src="./images/logo.png" width="77" height="21"></a>++
        </div>
        <div class="nav">
            <ul>
                <li class="on"><a href="/home"><strong th:text="#{nav_text1}"></strong></a></li>
            </ul>
        </div>
        <div th:if="${user!=null}" class="nav nav_entries">
            <div class="login-user j_drop-handler"><a href=""> <img
                    width="32" height="32" class="has-store store-online"
                    src="https://g.fp.ps.netease.com/market/file/629985b63521f683551165fcLjskqS9c04?fop=imageView/2/w/54/h/54"
                    onerror="this.src='https://g.fp.ps.netease.com/market/file/5c4994af8b7427196aca7aeblbTq8TJS02';this.onerror=null">
                <i class="icon icon-store store-online"></i> <strong class=""
                                                                     id="navbar-user-name"
                                                                     th:text="${user.getName()}"></strong> </a>
                <div class="drop-store j_drop">
                    <div class="store-user"><img
                            src="https://g.fp.ps.netease.com/market/file/629985b63521f683551165fcLjskqS9c04?fop=imageView/2/w/54/h/54"
                            onerror="this.src='https://g.fp.ps.netease.com/market/file/5c4994af8b7427196aca7aeblbTq8TJS02?fop=imageView/2/w/54/h/54';this.onerror=null">
                        <div class=""><h3 th:text="${user.getName()}"></h3></div>
                        <p><a href="/logout" class="f_12px" th:text="#{logout}"></a></p></div>
                </div>
            </div>
            <div class="login-user message"><span><a href="/show_message"><i
                    class="icon icon_message"></i></a></span> <i class="icon icon_new" style="display: none;"></i></div>
            <div class="game-select" style="margin-right: -10px; margin-left: -2px;">
                <div class="header-switcher j_drop-handler global-games" id="j_game-switcher" data-current="csgo"><h3>
                    <strong><img src="./images/logo_csgo2.png" class="sel-ico"
                                 data-game="csgo">CS2<span class="tag_status"
                                                           style="display: none;"></span></strong><i
                        class="icon icon_arr_light"></i></h3>
                    <div class="j_drop"><p data-value="csgo" class="on"><img
                            src="./images/logo_csgo2.png" class="sel-ico" data-game="csgo">CS2<span
                            class="tag_status" style="display: none;"></span></p>
                    </div>
                </div>
            </div>

            <ul>
                <li class="" id="j_mybuying"><a href="/show_bookmark"><strong th:text="#{mybuying}"></strong></a>
                    <i class="icon icon_new" style="display: none;"></i></li>
            </ul>
        </div>
        <div th:if="${user==null}" class="nav nav_entries">
            <div class="header-switcher j_drop-handler" data-current="zh-Hans" id="j_lang-switcher"
                 style="display: none;"><h3><i class="icon icon_lang_zh-Hans"></i><i class="icon icon_arr_light"></i>
            </h3>
            </div>
            <ul>
                <li><a href="javascript:void(0)" id="login" th:text="#{login_or_register}"></a></li>
            </ul>
            <div class="game-select" style="margin-right: -10px; margin-left: -2px;">
                <div class="header-switcher j_drop-handler global-games" id="j_game-switcher" data-current="csgo"><h3>
                    <strong><img src="./images/logo_csgo2.png" class="sel-ico"
                                 data-game="csgo">CS2<span class="tag_status"
                                                           style="display: none;"></span></strong><i
                        class="icon icon_arr_light"></i></h3>
                    <div class="j_drop"><p data-value="csgo" class="on"><img
                            src="./images/logo_csgo2.png" class="sel-ico" data-game="csgo">CS2<span
                            class="tag_status" style="display: none;"></span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="blank20"></div>

<div class="popup popup_login" id="j_popup_login"
     style="height:250px;width: 372px; margin-top: -240.5px; margin-left: -186px; z-index: 503;">
    <a class="popup-close" href="javascript:;" id="close_entry" th:text="#{close}"></a>
    <div class="login-cont">
        <div class="login-frame" style="visibility: visible;"><h2 id="j_login-title" th:text="#{login_from_title}"></h2>
            <div id="j_login" style="width: 370px; height: 250px;">
                <iframe frameborder="0" scrolling="no" name="login_frame" id="login_frame"
                        style="width: 100%; height: 100%; border: none; background: none;"
                        src="show_login"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="market-list">
    <div class="l_Layout">
        <div class="market-header black" style="background: #f3f3f3">
            <div class="h1z1-selType type_csgo" id="j_h1z1-selType">

                <div class="item w-SelType csgo_filter" style="width: 7%;">
                    <a href="?category=匕首"><i class="icon icon_csgo_type_knife"></i>
                    <p value="knife">匕首</p>
                    </a>
                </div>

                <div class="item w-SelType csgo_filter" style="width: 7%;">
                    <a href="?category=手套"><i class="icon icon_type_hands"></i>
                    <p value="hands">手套</p>
                </a>
                </div>

                <div class="item w-SelType csgo_filter" style="width: 7%;">
                    <a href="?category=步枪"><i class="icon icon_csgo_type_rifle"></i>
                    <p value="rifle">步枪</p>
                </a>
                </div>

                <div class="item w-SelType csgo_filter" style="width: 7%;">
                    <a href="?category=手枪"><i class="icon icon_csgo_type_pistol"></i>
                    <p value="pistol">手枪</p>

                    </a>
                </div>

                <div class="item w-SelType csgo_filter" style="width: 7%;">
                    <a href="?category=微型冲锋枪"><i class="icon icon_csgo_type_smg"></i>
                    <p value="smg">微型冲锋枪</p>

                    </a>
                </div>

                <div class="item w-SelType csgo_filter" style="width: 7%;">
                    <a href="?category=霰弹枪"><i class="icon icon_csgo_type_shotgun"></i>
                    <p value="shotgun">霰弹枪</p>



                    </a>
                </div>

                <div class="item w-SelType csgo_filter" style="width: 7%;">
                    <a href="?category=机枪"><i class="icon icon_csgo_type_machinegun"></i>
                    <p value="machinegun">机枪</p>



                    </a>
                </div>

                <div class="item w-SelType csgo_filter" style="width: 7%;">
                    <a href="?category=印花"> <i class="icon icon_csgo_tool_sticker"></i>
                    <p value="sticker">印花</p>

                    </a>
                </div>

                <div class="item w-SelType csgo_filter" style="width: 7%;">
                    <a href="?category=探员"><i class="icon icon_csgo_type_customplayer"></i>
                    <p value="type_customplayer">探员</p>




                </a></div>

                <div class="item w-SelType csgo_filter" style="width: 7%;">

                    <i class="icon icon_csgo_type_other"></i>
                    <p value="other">其他</p>


                    <ul class="cols">
                        <a href="?category=武器箱">
                        <li value="csgo_type_weaponcase">武器箱</li>
                        </a>
                        <a href="?category=音乐盒">
                        <li value="csgo_type_musickit">音乐盒</li>
                        </a>
                    </ul>

                </div>

            </div>

        </div>
        <div class="blank20"></div>
        <div class="block-header">
            <div class="l_Right">
                <div class="w-Checkbox" name="preview_screenshots" id="preview_screenshots"
                     style="display:none"></div>
                <div class="w-Counter" id="j_counter" style="line-height: 0;margin: 0 32px;">
                    <div class="w-Counter-input w-Counter-input3"><span th:text="#{rmb_fuhao}"></span>
                        <input type="text" class="i_Text" name="min_price"
                               th:value="${between_min=='0'?null:between_min}"
                               placeholder="最低价"><span th:text="#{rmb_fuhao2}"></span><input
                                type="text" class="i_Text" name="max_price" placeholder="最高价"
                                th:value="${between_max=='999999'?null:between_max}"></div>
                    <div class="w-Counter-pannel" style="display: none;"><a href="javascript:;"
                                                                            class="i_Btn i_Btn_sub i_Btn_small"
                                                                            th:text="#{clean_up}"></a><a
                            href="javascript:;" class="i_Btn i_Btn_main i_Btn_small" id="between_submit"
                            th:text="#{determine}"></a></div>
                </div>
                <div class="w-Select-Multi w-Select-scroll " style="visibility: visible; width: 98px;"
                     name="sort_by">
                    <h3 id="sort" th:if="${sort=='default'}" th:text="#{sort}"></h3> <i class="icon1 icon_drop"></i>
                    <h3 th:if="${sort=='asc'}"><span class="w-Order_asc">价格<i class="icon icon_order"></i></span></h3>
                    <h3 th:if="${sort=='desc'}"><span class="w-Order_des">价格<i class="icon icon_order"></i></span>
                    </h3>
                    <h3 th:if="${sort=='trend_up_desc'}"><span class="w-Order_des">涨幅<i
                            class="icon icon_order"></i></span></h3>
                    <h3 th:if="${sort=='trend_down_desc'}"><span class="w-Order_des">降幅<i class="icon icon_order"></i></span>
                    </h3>
                    <ul id="sort-type" style="width: 98px;">
                        <li><h6 th:text="#{default}"></h6></li>
                        <li id="asc"><h6><span class="w-Order_asc">价格<i class="icon icon_order"></i></span></h6></li>
                        <li id="desc"><h6><span class="w-Order_des">价格<i class="icon icon_order"></i></span></h6></li>
                        <li id="trend_up_desc"><h6><span class="w-Order_des">涨幅<i class="icon icon_order"></i></span>
                        </h6></li>
                        <li id="trend_down_desc"><h6><span class="w-Order_des">降幅<i
                                class="icon icon_order"></i></span></h6></li>
                    </ul>
                </div>
                <div class="w-Search" id="j_search" data-expanded="false" data-loading="false" data-position="below"
                     style="position: relative;"><span> <input type="text" name="search" class="i_Text"
                                                               placeholder="输入物品名称" size="30"
                                                               style="width: 150px;" role="combobox" autocomplete="off"
                                                               autocapitalize="off" spellcheck="false"
                                                               aria-autocomplete="list" aria-haspopup="listbox"
                                                               aria-expanded="false"
                                                               aria-owns="autocomplete-result-list-1"> </span> <a
                        id="search_btn_csgo" href="javascript:;" style="padding: 0 16px;"><i
                        class="icon icon_search"></i>搜索</a>
                    <ul class="j_search-result-list" role="listbox" id="autocomplete-result-list-1"
                        style="position: absolute; z-index: 1; min-width: 100%; box-sizing: border-box; visibility: hidden; pointer-events: none; top: 100%;"></ul>
                </div>
            </div>
            <ul class="tab">
                <li id="holo"><a href="?category=全息" th:text="#{tab_title1}"></a></li>
                <li id="gold"><a href="?category=金色" th:text="#{tab_title2}"></a></li>
                <li id="capsule"><a href="?category=胶囊" th:text="#{tab_title3}"></a></li>
                <li id="bugged-ethereal" style="display:none;" th:text="#{tab_title4}"></li>
                <li id="bundle" style="display:none;" th:text="#{tab_title5}"></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="market-card" id="j_market_card">
            <div class="list_card" id="j_list_card">
                <ul class="card_csgo">
                    <li th:each="good:${first_goods}">
                        <a th:href="'/goods?goods_id='+${good.getGoods_id()}" th:title="${good.getName()}">
                            <img class="lazy"
                                 th:src="${good.getImg_url()}"
                                 width="210" height="138">
                        </a>
                        <h3><a th:href="'/goods?goods_id='+${good.getGoods_id()}" th:title="${good.getName()}"
                               th:text="${good.getName()}"></a></h3>

                        <p>
                            <!--                            <strong class="f_Strong" th:text="'￥'+${good?.getNow_price_buff()}"></strong>-->
                            <small class="f_Strong" th:text="'￥'+${good?.getNow_price_buff()}"></small>
                            <span class="l_Right f_12px f_Bold c_Gray"
                                  th:text="'历史最低价格:'+${good.getThe_lowest_price_buff()}">


                    </span>
                        </p>

                        <i class="icon icon_check"></i>

                        <span th:class="${good.getTrend()==0.00?'tag tag_csgo_wearcategory2':(good.getTrend()>0.00?'tag tag_csgo_wearcategory4':'tag tag_csgo_wearcategory0')}"
                              th:text="${good.getTrend()==0.00?'价格趋势平稳':(good.getTrend()>0.00?'↑ '+good.getTrend()*100+'%':'↓ '+(-good.getTrend())*100+'%')}"></span>

                    </li>


                </ul>
                <div class="clear"></div>
            </div>
            <div class="pager card-pager light-theme simple-pagination">
                <ul>
                    <li th:if="${page==1}" th:class="disabled"><span class="current prev"
                                                                     th:text="#{previous_page}"></span></li>
                    <li th:if="${page!=1}"><a
                            th:href="'?page='+${page+(-1)}+${category==null?'':'&category='+category}+${search==null?'':'&search='+search}+${sort==null?'':'&sort='+sort}+${between_min==null?'':'&between_min='+between_min}+${between_max==null?'':'&between_max='+between_max}"
                            class="page-link prev" th:text="#{previous_page}"></a></li>
                    <li th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber==page?'active':''}">
                        <a th:if="${pageNumber != page}"
                           th:href="'?page='+${pageNumber}+${category==null?'':'&category='+category}+${search==null?'':'&search='+search}+${sort==null?'':'&sort='+sort}+${between_min==null?'':'&between_min='+between_min}+${between_max==null?'':'&between_max='+between_max}"
                           class="page-link"
                           th:text="${pageNumber}"></a>
                        <span th:if="${pageNumber == page}" class="current" th:text="${pageNumber}"></span>
                    </li>
                    <li><a th:class="${page==totalPages?'disabled':'page-link next'}"
                           th:href="'?page='+${page+1}+${category==null?'':'&category='+category}+${search==null?'':'&search='+search}+${sort==null?'':'&sort='+sort}+${between_min==null?'':'&between_min='+between_min}+${between_max==null?'':'&between_max='+between_max}"
                           th:text="#{next_page}"></a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>
</div>

<script type="text/javascript" th:inline="javascript">
    function user_login(name, password) {
        console.log(name)
        $.ajax({
            url: '/login',
            type: 'post',
            data: {
                name: name,
                password: password
            },
            success: function (data) {
                window.location.reload()
            }
        })
    }

    $(() => {
        $('#j_popup_login').hide()
        if ([[${user_status}]] === '密码错误') {
            $('#j_popup_login').show()
            alert("密码错误请重新登录！！！")
        } else if ([[${user_status}]] === '用户不存在') {
            $('#j_popup_login').show()
            alert("用户不存在请重新登录！！！")
        }


        $('#login').click(function () {
            $('#j_popup_login').show()
        })
        $('#close_entry').click(function () {
            $('#j_popup_login').hide()
        })
        $('#search_btn_csgo').click(function () {
            let search = $('input[name="search"]').val()
            if (search === '') {
                alert('请输入搜索内容')
                return
            }
            window.location.href = '/home?search=' + search
        })
        $('#sort').click(function () {
            $('#sort-type').slideDown()
        })
        $('#sort-type li').click(function () {
            let sort_type = $(this).attr('id')
            console.log([[${category}]])
            if ([[${category}]] != null) {
                window.location.href = '/home?sort=' + sort_type + '&category=' + [[${category}]]
                return
            } else if ([[${search}]] != null) {
                window.location.href = '/home?sort=' + sort_type + '&search=' + [[${search}]]
                return
            } else if ([[${between_min}]] != null || [[${between_max}]] != null) {
                window.location.href = '/home?sort=' + sort_type + '&between_min=' + [[${between_min}]] + '&between_max=' + [[${between_max}]]
                return
            }
            window.location.href = '/home?sort=' + sort_type

        })
        $('#between_submit').click(function () {
            let between_min = $('input[name="min_price"]').val()
            let between_max = $('input[name="max_price"]').val()
            if (between_min === '' && between_max === '') {
                alert('请至少输入一个价格区间')
                return
            }
            if (between_min !== '' && between_max !== '' && Number(between_min) > Number(between_max)) {
                alert('最小值不能大于最大值')
                return
            }
            if (between_min === '') {
                between_min = 0
            }
            if (between_max === '') {
                between_max = 999999
            }
            window.location.href = '/home?between_min=' + between_min + '&between_max=' + between_max
        })

    })
</script>
</body>
</html>