<!DOCTYPE html>
<html>
<head><title th:text="#{collect_title}">我的收藏_网易BUFF饰品交易平台</title>
    <meta property="og:image" content="https://g.fp.ps.netease.com/market/file/6391b1f3672a526e9f383c56lhtp2qta04">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="shortcut icon" href="//g.fp.ps.netease.com/market/file/59b156975e6027bce06e8f6ceTyFGdsj">
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="./js/jquery-3.6.0.js"></script>

</head>
<body class=" csgo  ">
<div class="header l_Clearfix">
    <div class="header-cont l_Layout">
        <div class="logo"><a href="/home"><img src="./images/logo.png" width="77" height="21"></a>
        </div>
        <div class="nav">
            <ul>
                <li class="on"><a href="/home"><strong th:text="#{nav_text1}">饰品市场</strong></a></li>

            </ul>
        </div>
        <div class="nav nav_entries">
            <div class="login-user j_drop-handler"><a href=""> <img
                    width="32" height="32" class="has-store store-online"
                    src="https://g.fp.ps.netease.com/market/file/629985b63521f683551165fcLjskqS9c04?fop=imageView/2/w/54/h/54"
                    onerror="this.src='https://g.fp.ps.netease.com/market/file/5c4994af8b7427196aca7aeblbTq8TJS02';this.onerror=null">
                <i class="icon icon-store store-online"></i> <strong class=""
                                                                     id="navbar-user-name"
                                                                     th:text="${user.getUsername()}"></strong> </a>
                <div class="drop-store j_drop">
                    <div class="store-user"><img
                            src="https://g.fp.ps.netease.com/market/file/629985b63521f683551165fcLjskqS9c04?fop=imageView/2/w/54/h/54"
                            onerror="this.src='https://g.fp.ps.netease.com/market/file/5c4994af8b7427196aca7aeblbTq8TJS02?fop=imageView/2/w/54/h/54';this.onerror=null">
                        <div class=""><h3 th:text="${user.getUsername()}"></h3></div>
                        <p><a href="/logout" class="f_12px" th:text="#{logout}">退出登录</a></p></div>
                </div>
            </div>
            <div class="login-user message"><span><a href="/show_message"><i
                    class="icon icon_message"></i></a></span> <i class="icon icon_new" style="display: none;"></i></div>
            <div class="game-select" style="margin-right: -10px; margin-left: -2px;">
                <div class="header-switcher j_drop-handler global-games" id="j_game-switcher" data-current="csgo"><h3>
                    <strong th:text="#{CS.GO}"><img src="./images/logo_csgo_black.png" class="sel-ico"
                                 data-game="csgo">CS:GO<span class="tag_status"
                                                             style="display: none;"></span></strong><i
                        class="icon icon_arr_light"></i></h3>
                    <div class="j_drop"><p data-value="csgo" class="on" th:text="#{CS.GO}"><img
                            src="./images/logo_csgo_black.png" class="sel-ico" data-game="csgo">CS:GO<span
                            class="tag_status" style="display: none;"></span></p>
                    </div>
                </div>
            </div>
            <ul>
                <li class="" id="j_mybuying"><a href="/show_bookmark"><strong th:text="#{mybuying}"></strong></a>
                    <i class="icon icon_new" style="display: none;"></i></li>
            </ul>
        </div>
    </div>
</div>
<div class="blank20"></div>

<div class="l_Layout">
    <div class="cont_panel black">
        <div class="my-thum" style="background-color: #4a4e51"><img
                src="https://g.fp.ps.netease.com/market/file/629985b63521f683551165fcLjskqS9c04?fop=imageView/2/w/70/h/70"
                width="70" height="70"
                onerror="this.src='https://g.fp.ps.netease.com/market/file/5c4994af8b7427196aca7aeblbTq8TJS02';this.onerror=null">
            <h2><strong th:text="${user.getUsername()}"></strong></h2>
            <div class="clear"></div>
        </div>
        <div class="my-menu">
            <ul>
                <li class="on"><a style="background-color: #4b4d53" href="/show_message" th:text="#{message_center}"><i
                        class="icon icon_menu icon_menu_msg"></i>消息中心<i
                        class="icon icon_new"></i></a></li>
                <li><a style="background-color: #4b4d53" href="/show_bookmark"><i
                        class="icon icon_menu icon_menu_fav" th:text="#{mybuying}"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="cont_main">
        <div>
            <div class="block-header black">
                <ul class="tab" id="j_mail-tab"><a href="/user-center/message?type=trade">
                </a> <a href="/user-center/message?type=system">
                    <li message_type="system" class="on" th:text="#{System_messages}"><i class="icon icon_new" style="display: none;"></i></li>
                </a></ul>
                <div class="clear"></div>
            </div>
            <div class="user-record" id="trade_message" style="">
                <table width="100%" class="list_tb">
                    <tbody>
                    <tr>
                        <th th:text="#{Message_content}"></th>
                        <th width="200" th:text="#{time}"></th>
                    </tr>
                    </tbody>
                    <tr th:each="mail,iterStat:${mails}">
                        <td>
                            <div class="msg-title" style="cursor: default" >
                                <a th:href="'/goods?goods_id='+${mail.getUrl()}" th:text="${mail.getContent()}"></a>
                            </div>

                        </td>
                        <td class="c_Gray" th:text="${mail.getTime()}"></td>
                    </tr>
                </table>
                <div class="blank20"></div>
                <div class="pager light-theme simple-pagination">
                    <ul>
                        <li th:if="${page==1}" th:class="disabled"><span class="current prev"></span></li>
                        <li th:if="${page!=1}"><a
                                th:href="'?page='+${page+(-1)}"
                                class="page-link prev" th:text="#{previous_page}">上一页</a></li>
                        <li th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber==page?'active':''}">
                            <a th:if="${pageNumber != page}"
                               th:href="'?page='+${pageNumber}"
                               class="page-link"
                               th:text="${pageNumber}"></a>
                            <span th:if="${pageNumber == page}" class="current" th:text="${pageNumber}"></span>
                        </li>
                        <li><a th:class="${page==totalPages?'disabled':'page-link next'}"
                               th:href="'?page='+${page+1}" th:text="#{next_page}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="user-record" id="system_message" style="display: none">
                <table width="100%" class="list_tb" style="display: none">
                    <tbody>
                    <tr>
                        <th th:text="#{Message_content}"></th>
                        <th width="200" th:text="#{time}"></th>
                    </tr>
                    </tbody>
                </table>
                <div class="nodata"></div>
                <div class="blank20"></div>
                <div class="pager"></div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>

<div class="clear"></div>
</div>
<div class="blank20"></div>

</body>
<script type="text/javascript" th:inline="javascript">
    $(() => {


    })
</script>
</html>